*.swp
*.swo
*.pyc
*.egg-info/*
doc/build
doc/source/autodocs/*
trackhub/test/example_hub.genomes.txt
trackhub/test/example_hub.hub.txt
trackhub/test/hg19/
/ci/key
/ci/key.pub
ci/example_hub/
ci/example_assembly_hub/
ci/trackhub-demo/
.cache
dist/
ci/hubCheck
build
